In [5]:
m3 = {}
print type(m3)
m3 = {'name':'Vighneshwar','lastname':'Jaiswal'}
print m3
print m3.keys
print m3.values

<type 'dict'>
{'lastname': 'Jaiswal', 'name': 'Vighneshwar'}
<built-in method keys of dict object at 0x7feb03e7d6e0>
<built-in method values of dict object at 0x7feb03e7d6e0>

In [15]:
d2 = {23:'mehul',12:'jane',45:'rock'}
print d2
print d2[12]
d2[12] = 'Jane'
print d2
d2[3] = "Rahul"
print d2
d2[5] = 'Vinit'
print d2
print len(d2)

{12: 'jane', 45: 'rock', 23: 'mehul'}
jane
{12: 'Jane', 45: 'rock', 23: 'mehul'}
{3: 'Rahul', 12: 'Jane', 45: 'rock', 23: 'mehul'}
{5: 'Vinit', 3: 'Rahul', 12: 'Jane', 45: 'rock', 23: 'mehul'}
5

In [21]:
for k in d2:
    print k

for item in d2:
    print item , ':', d2[item]

5
3
12
45
23
5 : Vinit
3 : Rahul
12 : Jane
45 : rock
23 : mehul

In [22]:
print d2.items
print d2.iteritems
print d2.iterkeys
print d2.itervalues

<built-in method items of dict object at 0x7feb03e9e910>
<built-in method iteritems of dict object at 0x7feb03e9e910>
<built-in method iterkeys of dict object at 0x7feb03e9e910>
<built-in method itervalues of dict object at 0x7feb03e9e910>

In [23]:
for k,v in d2.iteritems():
    print str(k) ,"|" , str(v)

5 | Vinit
3 | Rahul
12 | Jane
45 | rock
23 | mehul

In [27]:
print 'Vinit' in d2.values()

True

In [36]:
books = {'B001':('Title 1',100,500),'B002':('Title 2',400,600)}
print books
print books['B002'][0]
print 'Title 2' in books['B002']

{'B002': ('Title 2', 400, 600), 'B001': ('Title 1', 100, 500)}
Title 2
True

In [48]:
nos = [5,6,3,4,7,8,11,13,45,34,56,67,89,91]
squares = []
for  item in nos:
    squares.append(item**2)
    
squares

[25, 36, 9, 16, 49, 64, 121, 169, 2025, 1156, 3136, 4489, 7921, 8281]

In [42]:
#for comprehesion
sq = [n ** 2 for n in nos]
print sq

[25, 36, 9, 16, 49, 64]

In [44]:
evsq = [n ** 3 for n in nos if n % 2 == 0]
print evsq

[216, 64, 512]

In [73]:
strlst = {'a':1,'b':2,'c':3,'d':4,'e':5,'f':7,'g':8}
sqrlst = {n:strlst[n] ** 2 for n in strlst}
print type(sqrlst)
print sqrlst

<type 'dict'>
{'a': 1, 'c': 9, 'b': 4, 'e': 25, 'd': 16, 'g': 64, 'f': 49}

In [49]:
odds = [n ** 2 for n in nos if n % 2 != 0 and n > 5]
print odds

[49, 121, 169, 2025, 4489, 7921, 8281]