In [10]:
s1 = ("Vighneshwar",10,"Male")
print type(s1)
print s1

<type 'tuple'>
('Vighneshwar', 10, 'Male')

In [11]:
print len(s1)
print s1[1]

3
10

In [12]:
for d in s1:
    print d

Vighneshwar
10
Male

In [13]:
t2 = ('audi')
print type(t2)  # gives a string tyoe

<type 'str'>

In [15]:
t3 = ('audi',)   # adding a trailing comma makes it a tuple
print type(t3)

<type 'tuple'>

In [21]:
listtuples = ('movie1',['9:30','10:30'])
print type(listtuples)
timings = listtuples[1]
timings.append('12:30')
print timings
print listtuples

<type 'tuple'>
['9:30', '10:30', '12:30']
('movie1', ['9:30', '10:30', '12:30'])